<div class="m-6 grid lg:grid-cols-5 md:grid-cols-4 gap-5">
  <ng-container
    *ngTemplateOutlet="homeTextButtonTemplate; context: {'text': 'Spielt gerade', 'link': '/currently_playing'}"></ng-container>
  <ng-container
    *ngTemplateOutlet="homeTextButtonTemplate; context: {'text': 'Auswählen', 'link': '/choose_content'}"></ng-container>
  <button
    (click)="addSpotifyProvider()"
    class="p-10 flex justify-center dark:bg-slate-700 rounded-lg shadow-xl border-solid border-1 border-slate-600">
    <span class="select-none text-xl content-center">Spotify Prov</span>
  </button>
  <button
    (click)="loginSpotify()"
    class="p-10 flex justify-center dark:bg-slate-700 rounded-lg shadow-xl border-solid border-1 border-slate-600">
    <span class="select-none text-xl content-center">Login Spotify</span>
  </button>
</div>

<ng-template #homeTextButtonTemplate let-link="link" let-text="text">
  <button
    (click)="redirect(link)"
    class="p-10 flex justify-center dark:bg-slate-700 rounded-lg shadow-xl border-solid border-1 border-slate-600">
    <span class="select-none text-xl content-center">{{ text }}</span>
  </button>
</ng-template>
