<div class="absolute z-100">
  <button (click)="onReturnClicked()" class="p-5 cursor-pointer">
    <i class="fa fa-regular fa-arrow-left text-xl"></i>
  </button>
</div>

<div #wrapper class="h-screen flex flex-col bg-blue-950">
  @if (loaded) {
    <div class="grid grid-cols-5 h-full mb-[96px] items-center">
      <div class="lg:size-120 md:size-50 flex items-center col-span-2 justify-self-center">
        <!--
        <img src="{{ coverImage }}" alt="Cover Image" #cover_img
             (load)="loadColors()" crossorigin="anonymous" [style]="shadowCss()">
        -->
        <app-cover-image (dominantColor$)="mixBackground($event)" [coverImage]="coverImage"></app-cover-image>
      </div>
      <div class="col-span-3 grid content-center">
        <span [maxFontSize]="32" [minFontSize]="16" appAutoResizeText class="lg:text-3xl md:text-2xl mb-2">
          {{ albumName }}
        </span>
        <span [maxFontSize]="64" [minFontSize]="32" appAutoResizeText class="lg:text-7xl md:text-6xl mb-6">
          {{ songName }}
        </span>
        <div class="">
          <div class="lg:text-xl md:text-lg pr-2">
            @for (artist of artists; track artist.id; let last = $last; let index = $index) {
              @if (index < 5) {
                <div class="inline-flex items-center">
                  <span>{{ artist.name }}</span>
                  @if (!last && index < 4) {
                    <i class="fa-solid fa-circle text-[4px] ms-2 me-2"></i>
                  }
                </div>
              } @else if (index === 6) {
                <span>...</span>
              }
            }
          </div>
        </div>
      </div>
    </div>
  } @else {
    <div class="grid grid-cols-5 h-full mb-[96px] items-center animate-pulse">
      <div class="lg:size-120 md:size-50 flex items-center col-span-2 justify-self-center">
        <div
          class="flex items-center justify-center w-full h-48 bg-gray-300 rounded-sm sm:w-96 dark:bg-gray-700">
          <svg aria-hidden="true" class="w-10 h-10 text-gray-200 dark:text-gray-600 dark:fill-gray-500"
               viewBox="0 0 20 18"
               xmlns="http://www.w3.org/2000/svg">
            <path
              d="M18 0H2a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2Zm-5.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm4.376 10.481A1 1 0 0 1 16 15H4a1 1 0 0 1-.895-1.447l3.5-7A1 1 0 0 1 7.468 6a.965.965 0 0 1 .9.5l2.775 4.757 1.546-1.887a1 1 0 0 1 1.618.1l2.541 4a1 1 0 0 1 .028 1.011Z" />
          </svg>
        </div>
      </div>
      <div class="col-span-3 grid content-center">
        <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
        <div class="h-6 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
        <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
      </div>
    </div>
  }

  <!-- Options -->
  <div class="grid absolute bottom-0 w-full">
    <div class="h-[8px] flex items-end">
      <div [class.bg-gray-500]="!this.loaded"
           class="h-[4px] w-full bg-gray-300 relative overflow-hidden hover:h-[8px] duration-100">
        @if (loaded) {
          <div [style.width.%]="(progressMs / currentlyPlaying!.track!.durationMs) * 100"
               class="h-full bg-green-500 transition-all">
          </div>
        }
      </div>
    </div>
    <div class="flex justify-around text-3xl w-full bg-slate-800">
      <button [disabled]="!loaded" [ngClass]="buttonClasses" class="p-6">
        <div class="relative inline-block">
          @if (loaded) {
            <i [ngClass]="shuffleClasses" class="fas fa-random"></i>
            @if (playbackState!.shuffle === 'smart_shuffle') {
              <i class="fas fa-star text-yellow-400 text-sm absolute top-0 -left-1.5 rounded-full p-[1px]"></i>
            }
          } @else {
            <i class="fas fa-random"></i>
          }
        </div>
      </button>
      <button (click)="onBackwardClicked()" [ngClass]="buttonClasses" class="p-6">
        <i class="fa-solid fa-backward-step"></i>
      </button>
      <button (click)="onPauseClicked()" [ngClass]="buttonClasses" class="p-6">
        @if (loaded) {
          @if (isPlaying) {
            <i class="fa-solid fa-pause"></i>
          } @else {
            <i class="fa-solid fa-play"></i>
          }
        } @else {
          <i class="fa-solid fa-play"></i>
        }
      </button>
      <button (click)="onForwardClicked()" [ngClass]="buttonClasses" class="p-6">
        <i class="fa-solid fa-forward-step"></i>
      </button>
      <button (click)="onFavoriteClicked()" [ngClass]="buttonClasses" class="p-6">
        <i [class.text-red-500]="isFavorite" class="fa-solid fa-heart"></i>
      </button>
      <!--
      Future Version
      <button data-tooltip-target="tooltip-device" data-tooltip-trigger="click" type="button"
              class="p-6 cursor-pointer">
        <i class="fa-solid fa-headphones"></i>
      </button>
      <div id="tooltip-device" role="tooltip"
           class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-xs opacity-0 tooltip dark:bg-gray-700">
        Tooltip content
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
      -->
    </div>
  </div>
</div>
