<div class="m-10 mt-12">
  <div class="">
    <span class="text-2xl">
      Zum einrichten von Spotify musst du eine Client ID hinterlegen. <br>
      Wie du diese erstellen kannst findest du
      <a class="text-blue-600 underline" href="https://developer.spotify.com/documentation/web-api/concepts/apps">
        hier
      </a>
    </span>
  </div>
  <hr class="text-gray-600 mt-3 mb-3">
  <div>
    <form>
      <div class="mb-2">
        <input
          [formControl]="input_client_id"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          id="input_client_id"
          placeholder="Client ID"
          required type="text"/>
        @if (input_client_id.invalid) {
          <span class="text-red-600 opacity-75 text-sm">Du musst eine Client ID eingeben!</span>
        }
      </div>
      <div class="flex items-start mb-6">
        <button
          (click)="setupSpotify()"
          class="text-white bg-blue-700 hover:bg-blue-800 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          type="submit">
          Speichern
        </button>
      </div>
    </form>
  </div>
</div>
